@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";

img{
	max-height: 1em;
	vertical-align: middle;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}
